<div class="container">
		<a name="main-content"></a>
    <div class="jumbotron jumbotron" style='background-image: url("/img/bg4.jpg"); background-repeat: no-repeat; background-attachment: fixed;'>
      <div class="container">
        <h1 class="display-3 text-white">Academic Support Resources Custom Solutions</h1>
        <p class='text-warning'>Making a Positive Difference in Students Lives</p>
      </div>
    </div>
    {% include navigation.html %}
</div>

<div class="container">
    {{ content }}
</div>
